@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222 47% 11%;
    --card: 204 65% 97%;
    --card-foreground: 222 47% 11%;
    --popover: 204 65% 97%;
    --popover-foreground: 222 47% 11%;
    --primary: 238 80% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 205 42% 90%;
    --secondary-foreground: 222 47% 11%;
    --muted: 204 33% 97%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 207 43% 93%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 204 33% 90%;
    --input: 204 33% 90%;
    --ring: 238 80% 60%;
    --radius: 0.75rem;
    --chart-1: 220 70% 50%;
    --chart-2: 210 80% 60%;
    --chart-3: 200 75% 55%;
    --chart-4: 190 70% 50%;
    --chart-5: 230 60% 45%;
    --chart-6: 240 50% 40%;
    --chart-7: 180 60% 45%;
    --chart-8: 150 50% 50%;
    --chart-9: 30 80% 50%;
    --chart-10: 0 70% 50%;
  }

  .dark {
    --background: 240 36% 5%;
    --foreground: 0 0% 98%;
    --card: 260 16% 11%;
    --card-foreground: 0 0% 98%;
    --popover: 260 16% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 238 60% 60%;
    --primary-foreground: 0 0% 98%;
    --secondary: 250 20% 17%;
    --secondary-foreground: 0 0% 98%;
    --muted: 250 20% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 255 15% 15%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 250 20% 15%;
    --input: 250 20% 15%;
    --ring: 238 60% 60%;
  }
}
